@import "variables";

.footer {
  grid-area: footer;
  background: $oxford-blue;
  color: $silver;

  &__wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}